<!-- Footer -->
<footer class="page-footer font-small indigo">
    <!-- Footer Links -->
    <div class="container">
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        <div class="col-md-2 mb-3">
          <a href="#"><b>PRODUCTS</b></a>
        </div>
        <div class="col-md-2 mb-3">  
          <a href="#"><b>AWARDS</b></a>  
        </div>
        <div class="col-md-2 mb-3">      
          <a href="#"><b>HELP</b></a>  
        </div>
        <div class="col-md-2 mb-3"> 
            <a href="#"><b>SPONSORS</b></a>    
        </div>
      </div>
      <div class="row d-flex text-center justify-content-center">
        <div class="col-md-8 col-15">
          <p class="footer">We want the topics to be covered in the magazine not to be turned entirely to the political sphere, but to maintain a cultural vein.
          The reason why we believe it is necessary to highlight the humanistic value of the magazine is summarized in the fact that many magazines can touch topics without taking into account the human factor.</p>
        </div> 
      </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Blog:
      <a href="#"> ZLAkira.com</a>
    </div>
    <!-- Copyright -->
    </div>
  </footer>
  <!-- Footer -->
  