<section id="hero">
    <div class="container">
      <div class="content-center .topmargin-lg">
        <h1>#PandemicTimes</h1>
        <br><br>
        <p>The coronavirus pandemic has affected our lives, our economy and nearly every corner of the globe. More than six billion vaccine doses have been given worldwide, or 78 per 100 people, but the gap between rich and poor remains enormous. The U.S. is averaging more than 2,000 newly reported deaths a day and is approaching 700,000 total coronavirus deaths.</p>
        <button type="button" class="btn btn-outline-light">Watch more</button>
      </div>
    </div>  
  </section>

