 <section id="vantage" class="padded">
  <br>
  <br>
  <br>  
  <br>
  <br>
  <div class="container">
   <h2>
     <a class="css-1yzjcgw">Latest Updates</a> 
     <time class="css-6en0ir">a few seconds ago</time>
   </h2>
   <br>
   <br>
   <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/pandemic.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><b>Interviews in times of pandemics</b></h5>
        <p class="card-text">As of the date, Akira inaugurates an interview section with various personalities that will help us reflect, on the basis of the most recent pandemic,about society. From ethics, anthropology or theology, it is time to talk and debate.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/reality.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><b>Re-configure our reality</b></h5>
        <h6>By Diego Abanto</h6>
        <p class="card-text">Diego Abanto questions whether freedom of expression has not currently become a right to stupidity. Through Byung-Chul Han, analyze how virtual interactions in these times of pandemics can re-configure our non-virtual reality. Let us take this circumstance.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 7 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/france.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><b>Sarte vs Camus: The dream of freedom</b></h5>
        <p class="card-text">In twentieth-century, the political context of France was perfect for the affirmation of ideologies and high-caliber intellectual debates. That is why the political-philosophical-existential debate between Sartre and Camus is relevant.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 10 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/map.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><b>Coronavirus in the U.S.: Latest Map and Case Count</b></h5>
        <p class="card-text">More than six billion vaccine doses have been given worldwide, or 78 per 100 people, but with some wealthy countries now giving boosters, and the global program to supply developing countries still lagging, the gap between rich and poor remains enormous. See each country’s progress here.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 15 mins ago</small>
      </div>
    </div>
  </div>
</div>
</section>
<br>
<br>
<br>  
<br>
<br>

